/* --------------- width > 700px --------------- */

.nav_maxwidth_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	top: calc(50% - 180px);
	left: 5px;

	width: 52px;
	height: 360px;
	background-color: var(--color-20);

	border-radius: 30px;

	-webkit-box-shadow: 0 0 2px var(--color-100);
	box-shadow: 0 0 2px var(--color-100);
}

.nav_icon_container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 38px;
	height: 38px;
	margin: 5.2px;

	color: var(--color-100);
	background-color: var(--color-10);

	border: 1.8px solid var(--color-100);
	border-radius: 50%;

	cursor: pointer;
	transition: 300ms;
}

.nav_icon_container:hover {
	color: var(--color-40);
	border-color: var(--color-20);
	opacity: 0.6;
}

.nav_icon {
	width: 22px;
	height: 22px;
}

/* --------------- width < 699px --------------- */

.nav_minwidth_container {
	position: fixed;
	top: 0;
	padding: 0 20px;

	width: calc(100% - 40px);
	height: 80px;
	background: linear-gradient(var(--color-60), var(--color-40));

	border-bottom: 0.4px solid var(--color-40);
	box-shadow: 0 0 8px var(--color-50);
}

.nav_header_top_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 50px;

	border-bottom: 1px solid var(--color-40);
	color: var(--color-100);
}

.nav_header_title {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1.6px;

	transition: 300ms;
	cursor: pointer;
}

.nav_header_title:hover {
	color: var(--color-70);
}

.nav_header_top_container .nav_icon_container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 34px;
	height: 34px;

	color: var(--color-100);
	background-color: var(--color-10);

	border: 1.2px solid var(--color-100);
	border-radius: 50%;

	cursor: pointer;
	transition: 300ms;
}

.nav_header_btm_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 30px;

	transition: 300ms;
}

.nav_menu {
	color: var(--color-100);
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: -1px;

	cursor: pointer;
	transition: 300ms;
}

.nav_menu:hover {
	color: var(--color-60);
}

/* ------------------- common ------------------ */

.lang_icon {
	position: relative;
	top: 50%;
	left: 50%;

	width: 100%;
	height: 100%;

	background-size: 100% 100%;

	transform: translate(-50%, -50%);
	transition: 300ms;
}

/* --------------------------------------------- */