.DS_STORE
node_modules
tmp
build/
*.log*
.vscode
package-lock.json

.idea
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
api/.mvn

### VS Code ###
.vscode/

.gitignore
/client/src/constants/api.js


