@media(max-width: 420px) {
	.modal_container>.modal, .modal>.close_btn, .modal>.back_btn {
		transform: scale(0.9);
	}

	.modal>.close_btn {
		right: calc(50% - 185px) !important;
	}

	.modal>.back_btn {
		left: calc(50% - 185px) !important;
	}
}

.modal_container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000080;

	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}

.modal_container>.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 380px;
	height: 500px;
	padding: 20px;
	background-color: #fff;

	-webkit-box-shadow: 0 0 8px var(--color-100);
	box-shadow: 0 0 8px var(--color-100);
	border-radius: 8px;
}

.modal_container.show {
	visibility: visible;
	opacity: 1;
}

.modal>.close_btn {
	position: fixed;
	top: calc(50% - 260px);
	right: calc(50% - 200px);

	width: 36px;
	height: 36px;
	color: var(--color-20);

	cursor: pointer;
	transition: 300ms;
}

.modal>.close_btn:hover {
	transform: rotate(-90deg);
	color: var(--color-70);
}

.modal>.back_btn {
	position: fixed;
	top: calc(50% - 260px);
	left: calc(50% - 200px);

	width: 36px;
	height: 36px;
	color: var(--color-20);

	cursor: pointer;
	transition: 300ms;
}

.modal>.back_btn:hover {
	transform: rotate(-360deg);
	color: var(--color-70);
}

.modal>.logo_icon {
	width: 36px;
	height: 36px;
	color: var(--color-100);
}

.modal>h3 {
	font-size: 22px;
	font-style: italic;
	letter-spacing: -1.2px;
	word-spacing: 3px;
}

.modal>span {
	margin: 4px 0;
	width: 340px;
	height: auto;

	color: darkslategray;
	font-size: 13.4px;
	text-align: center;
	letter-spacing: -0.2px;
	word-spacing: 1.2px;
	line-height: 18px;
}

.modal>.terms_container {
	width: 100%;
	height: 372px;
	overflow-y: auto;
}

.modal>.terms_container>.terms {
	margin: 10px 0;

	color: darkslategray;
	font-size: 13.4px;
	text-indent: 4px;
	letter-spacing: -0.2px;
	word-spacing: 1.2px;
	line-height: 18px;
}

.modal>.terms_container>.terms>p {
	margin: 18px 0;
	color: #1C1110;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	letter-spacing: -0.2px;
	word-spacing: 1.2px;
	line-height: 18px;
}

.modal>.terms_container>.terms>span {
	text-align: right;
	margin: 0;
}

.modal>span>span {
	font-weight: 500;
	color: darkslategray;
	text-decoration: underline 0.6px;
	text-underline-offset: 0.6px;
	cursor: pointer;
	transition: 300ms;
}

.modal>span>span:hover {
	color: var(--color-100);
}

.modal>.login_btn_container {
	margin-top: 18px;
}

.login_btn_container>.login_btn {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 10px 0;
	width: 320px;
	height: 40px;

	border-radius: 24px;
	border: 2px solid #525964;

	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: darkslategray;

	cursor: pointer;
	transition: 300ms;
}

.login_btn>img {
	position: fixed;
	left: calc(50% - 150px);
	margin-right: 20px;
	width: 24px;
	height: 24px;
}

.login_btn_container>.login_btn:hover {
	background-color: var(--color-10);
}

.login_btn_container>p {
	margin-top: 10px;
	color: darkslategray;

	font-size: 14px;
	line-height: 40px;

	text-align: center;
	text-decoration: underline 1px;
	text-underline-offset: 2px;

	cursor: pointer;
	transition: 300ms;
}

.login_btn_container>p:hover {
	font-weight: bold;
}

.modal>.appstore_container {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 20px;
}

.modal>.appstore_container>img {
	margin: 0 10px;
	width: 140px;
	height: auto;
	cursor: pointer;
	transition: 300ms;
}

.modal>.appstore_container>img:hover {
	opacity: 0.6;
}

.oauth_callback_container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	background-color: var(--color-10);
}